<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <center><h1><% include ./partials/_header %></h1></center>
  <a href = "http://localhost:8080/urls/new" >Create New TinyUrl</a>
</head>
<body style="font-size:20px; padding:50px;">
    <% if (!user){ %>
    <div class="form-group mb-2">
     <%= error %>
   </div>
    <% } else { %>
    <h2>My URLs </h2>
    <ul>
      <% for (var element in urls) { %>
              <li> <%= element %> , <%= urls[element] %>
                  <form method="POST" action="/urls/<%= element %>/delete">
                    <a href = "http://localhost:8080/urls/<%= element %>"> Edit </a>
                    <button type ="submit">Delete</button>
                  </form>
              </li>

        <%  } %>
    </ul>
    <%  } %>
</body>
</html>

